body{
    background-color: #3D352C;
}

h1 {
    color: #FFF9EB;
    font-size: 32;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: #FFF9EB;
    font-size: 24;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    columns: #FFF9EB;
    font-size: 22;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    color: #ACAEAD;
    font-size: 16;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    background: #A13520;
}

nav {
    color: #FFF9EB;
}

footer {
    background: #A13520;
}

