body{
    background-color: #3D352C;
}

h1 {
    color: #FFF9EB;
    font-size: 32;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h2 {
    color: #FFF9EB;
    font-size: 24;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
}

h3 {
    color: #FFF9EB;
    font-size: 22;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

p{
    color: #ACAEAD;
    font-size: 16;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

header {
    background: #A13520;
    text-align: center;
    width: 100%;
    top: 0%;
}

.topnav {
    background: #A13520;
    overflow: hidden;
    text-decoration: none;
    text-align: right;
}

.topnav a {
    color: #FFF9EB;
    background: #A13520;
    text-align: right;
    padding: 14px 16px;
    font-size: 16;
}

.banner {
    text-align: center;
}

footer {
    background: #A13520;
    position: fixed;
    left: 0%;
    bottom: 0%;
    width: 100%;
    max-height: 15%;
    flex-direction: row;
}



